.el-select__wrapper {
  background: rgba(48, 84, 133, 0.4);
  height: 100%;
  box-shadow: none;

  .el-select__selected-item {
    font-family: "HarmonyOS Sans SC";
    font-size: 12px;
    color: #e7f2f2;
    /* 标题发光 */
    text-shadow: 0 0 6.8px rgba(0, 114, 236, 0.43), 0 0 25px rgba(64, 223, 232, 0.6);
    font-family: "HarmonyOS Sans SC";
    font-style: normal;
    line-height: normal;
    letter-spacing: 2.4px;
  }

  .is-transparent {
    color: rgba(255, 255, 255, 0.5);
    leading-trim: both;
    text-edge: cap;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.96px;
    text-shadow: none;
  }
}

.el-input {
  .el-input__wrapper {
    background: rgba(48, 84, 133, 0.4);
    height: 100%;
    box-shadow: none;
    padding: 0 12px;

    .el-input__inner {
      font-size: 12px;
      color: #e7f2f2;
      /* 标题发光 */
      text-shadow: 0 0 6.8px rgba(0, 114, 236, 0.43), 0 0 25px rgba(64, 223, 232, 0.6);
      font-family: "HarmonyOS Sans SC";
      font-style: normal;
      line-height: normal;
      letter-spacing: 2.4px;
      font-size: 12px;

      &::placeholder {
        color: rgba(255, 255, 255, 0.5);
        leading-trim: both;
        text-edge: cap;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.96px;
        text-shadow: none;
      }
    }
  }
}

.el-popper {
  &.el-select__popper {
    background-color: #05305d;
    border: 1px solid #236bab;

    .el-select-dropdown__item {
      color: #fff;
      /* 蓝色文字发光 */
      text-shadow: 0 0 6.8px rgba(64, 182, 232, 0.7);
      font-family: "HarmonyOS Sans SC";
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      display: flex;
      align-items: center;
      letter-spacing: 1.2px;

      &.is-hovering {
        background-color: #034777;
      }
    }

    .el-popper__arrow {
      &::before {
        background-color: #05305d;
        border-color: #05305d;
      }
    }
  }
}

.el-pagination {



  .el-pagination__total {
    color: #e7f2f2;
    /* 标题发光 */
    text-shadow: 0 0 6.8px rgba(0, 114, 236, 0.43), 0 0 25px rgba(64, 223, 232, 0.6);
    font-family: "HarmonyOS Sans SC";
    font-style: normal;
    line-height: normal;
    letter-spacing: 2.4px;
    font-size: 12px;
  }

  .btn-prev,
  .el-pager li,
  .btn-next {
    background-color: rgba(48, 84, 133, 0.4) !important;
    color: #e7f2f2;

    &:hover {
      opacity: 0.75;
    }
  }

  .is-active {
    color: #4d92d1 !important;
  }

  .el-pager li {
    margin: 0 4px;
  }

  .el-pagination__jump {
    color: #e7f2f2;
    /* 标题发光 */
    text-shadow: 0 0 6.8px rgba(0, 114, 236, 0.43), 0 0 25px rgba(64, 223, 232, 0.6);
    font-family: "HarmonyOS Sans SC";
    font-style: normal;
    line-height: normal;
    letter-spacing: 2.4px;
    font-size: 12px;
  }
}

.el-loading-mask {
  background-color: rgba(255, 255, 255, 0.05);
}

.el-table {
  .el-table__empty-text {
    line-height: 50vh;
    color: rgba(255, 255, 255, 0.5);
    font-family: "HarmonyOS Sans SC";
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.96px;
  }
}


.is-message-box {
  z-index: 999999 !important;
}