// @import url(./theme.scss);
@import url(./element.scss);
@import url(./fonts.scss);
* {
  padding: 0;
  margin: 0;
}
html {
  height: 100%;
  width: 100%;
  overflow: hidden;
  // background-color: #030e2c;
  background-color: #fff;
}
body {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 1080px;
  width: 1920px;
  --adapt-ratio: 1;
  transform: scale(var(--adapt-ratio)) translate(-50%, -50%);
  transform-origin: top left;
  overflow: hidden;
  user-select: none;
  background-image: url("@/assets/images/bg.png");
  background-size: cover; /* 图片覆盖整个容器，可能裁剪 */
  background-position: center; /* 图片居中 */
  background-repeat: no-repeat; /* 禁止重复 */
  background-attachment: fixed; /* 可选：固定背景不随滚动移动 */
}

.page {
  height: 100%;
  width: 100%;
}

.station-tooltip {
  border: 1px solid #5084b8 !important;
  background: #0d2e58 !important;
  padding: 12px;
  z-index: 2026;
  opacity: 1;
  color: #fff;
  /* 内容文字1 */
  font-family: "HarmonyOS Sans SC";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.6px;
}

/* 设置滑块颜色（滑动条中可拖动的部分） */
::-webkit-scrollbar-thumb {
  background-color: #ccc; /* 滑块颜色 */
  border-radius: 3px; /* 圆角 */
}
.tooltip-wrap {
  white-space: normal;
  max-width: 300px; /* 控制最大宽度让它触发换行 */
  word-break: break-word; /* 或 break-all */
}
