// @import url(./theme.scss);
@import url(./element.scss);
@import url(./fonts.scss);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #051229;
  // background-color: #fff;
}

body {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 1080px;
  width: 1920px;
  --adapt-ratio: 1;
  transform: scale(var(--adapt-ratio)) translate(-50%, -50%);
  transform-origin: top left;
  overflow: hidden;
  user-select: none;
  background-image: url("@/assets/images/bg.png");
  background-size: cover;
  /* 图片覆盖整个容器，可能裁剪 */
  background-position: center;
  /* 图片居中 */
  background-repeat: no-repeat;
  /* 禁止重复 */
  background-attachment: fixed;
  /* 可选：固定背景不随滚动移动 */
}

.page {
  height: 100%;
  width: 100%;
}

.station-tooltip {
  border: 1px solid #5084b8 !important;
  background: #0d2e58 !important;
  padding: 12px;
  z-index: 2026;
  opacity: 1;
  color: #fff;
  /* 内容文字1 */
  font-family: "HarmonyOS Sans SC";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  /* 133.333% */
  letter-spacing: 0.6px;
}

/* 设置滑块颜色（滑动条中可拖动的部分） */
::-webkit-scrollbar-thumb {
  background-color: #ccc;
  /* 滑块颜色 */
  border-radius: 3px;
  /* 圆角 */
}

.tooltip-wrap {
  white-space: normal;
  max-width: 300px;
  /* 控制最大宽度让它触发换行 */
  word-break: break-word;
  /* 或 break-all */
}

.chart-main {
  &.tooltip {
    border: 1px solid rgba(35, 107, 171, 1);
    padding: 12px;
    // border: 1px solid #05305d;
    background: rgba(7, 21, 46, 0.9);
    box-shadow: 0 0 3px 0 rgba(133, 203, 214, 0.14);
    backdrop-filter: blur(12px);

    .name {
      color: #fff;

      /* 蓝色文字发光 */
      text-shadow: 0 0 6.8px rgba(64, 182, 232, 0.7);
      font-family: "HarmonyOS Sans SC";
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 1.2px;
      margin-bottom: 10px;
    }

    .main {
      .item {
        display: flex;
        width: 100%;
        align-items: center;
        gap: 0 8px;
        height: 14px;
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }

        &-point {
          width: 11px;
          height: 11px;
          border-radius: 50%;
          display: inline-block;
          background: linear-gradient(225deg, #28b558 0%, #114f26 100%);

          &.blue {
            background: linear-gradient(225deg, #47eaea 0%, #40ced7 100%);
          }
        }

        &-name,
        &-value,
        &-unit {
          color: #fff;

          /* 蓝色文字发光 */
          text-shadow: 0 0 6.8px rgba(64, 182, 232, 0.7);
          font-family: "HarmonyOS Sans SC";
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: 1.2px;
        }
      }
    }
  }
}

.mb-8 {
  margin-bottom: 8px;
}

.custon-tooltip {
  display: inline-flex;
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid #5084B8 !important;
  background: #0D2E58 !important;
  border-radius: 0;

  >span {
    color: #FFF;
    leading-trim: both;
    text-edge: cap;
    /* 内容文字1 */
    font-family: "HarmonyOS Sans SC";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    /* 133.333% */
    letter-spacing: 0.6px;
  }

  .el-popper__arrow {
    display: none;
  }
}

.highlight {
  color: #2ce6ff;
  font-weight: 700;
}